{
	"env": {"es6": true"},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true	
		}
	},
	"extends": ["eslint:recommended"],
	"rules":{
		"no-hoge": [2, ["hoge", "fuga", "duga"]],
		"no-nest-jsx": 2
	}
}
